<div class="container">

	
	<fieldset class="fieldset">
		<legend class="legendStyle">
			<h2>US ORIGINAL CLASSIFICATION </h2>
		</legend>
		
		
		<div class="row">
		<div class="col-md-3">
			    <label>Class:</label>
   <input type="text" ng-model="vm.class">
		</div>
		<div class="col-md-1"></div>
				<div class="col-md-3">
			    <label>Subclass:</label>
   <input type="text" ng-model="vm.subclass">
		</div>
		</div>
		<div class ="row">
		<div class="col-md-offset-3">
		<label>CROSS REFERENCE(S)</label>
		</div>
		</div>
			<table show-filter="true" class="table table-striped table-info" >
			<tr>
				<th>CLASS</th>
				<th colspan="5">SUBCLASS(ONE SUBCLASS PER BLOCK)</th>
			</tr>
			
			 <tr>
    <td>January</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
    
  </tr>
			
		</table>
		
		
			</fieldset> 
			
	<fieldset class="fieldset">
	<div class="row">
	<p> Claims renumbered in the same order as presented by applicant</p>
	
    <label for="cpa">CPA:</label>
    <input id="cpa" type="checkbox" ng-model="vm.cpa" /><br/>

    <label for="TD">T.D.:</label>
    <input id="TD" type="checkbox" ng-model="vm.td" /><br/>

    <label for="r147">R.1.47:</label>
    <input id="r147" type="checkbox" ng-model="vm.r147" /><br/>
	</fieldset>	
		
			
							
							
							
							
>
</div> <!-- End container -->
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
